{% extends "base.html" %}

{% block content %}
<div class="container item-page">
    <section class="intro">
        <h2 class="display-2 mb-4">
            {{notebook.title.value}}
        </h2>
        <h3>
            {% if notebook.author.value %}
                <small class="author">{{'user'|icon}}{{notebook.author.value|markdown_inline}}</small>
            {% else %}
                <small class="author none">No author specified</small>
            {% endif %}
        </h3>

        {% if notebook.image.value %}
        <div class="item-image my-2 text-center">
            <a title="Open the {{notebook.title.value}} notebook" target="_blank" href="{{site.notebook_runner_url}}{{notebook.filename|urlencode}}">{{notebook.image.value.html|safe}}</a>
        </div>
        {% endif %}

        <div class="text-center m-2">
            <a class="btn btn-primary btn-lg" href="{{site.notebook_runner_url}}{{notebook.filename|urlencode}}" target="_blank">{{'play3'|icon}} Run this notebook now</a>
        </div>
    </section>

    <section class="row">
        <div class="col-12 col-md-8">
            <div class="description">
                {{notebook.description.value|markdown}}
            </div>

            {% if notebook.references.value|length %}
            <div class="references">
                <h3>{{'book'|icon}} References</h3>
                <ul>
                    {% for ref in notebook.references.value %}
                    <li>{{ref|markdown}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            {% if notebook.keywords.value|length %}
            <div class="keywords card mb-2">
                <div class="card-block">
                    <h4 class="card-title">{{'book'|icon}} Keywords</h4>
                    <ul >
                        {% for keyword in notebook.keywords.value %}
                        <li>{{keyword}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            {% if notebook.requirements.value|length %}
            <div class="requirements card mb-2">
                <div class="card-block">
                    <h4 class="card-title">{{'hammer'|icon}} Packages used</h4>
                    <ul >
                        {% for requirement in notebook.requirements.value %}
                        <li><a href="https://pypi.python.org/pypi/{{requirement}}">{{requirement}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
</div>
{% endblock content %}
